*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.gz
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.DS_Store
*.pdf
cleanup.sh
*.tui
*.tmp
*.pdf
*.mp
*.bak
docs/*
!SAP_AllTransactionCode.pdf
!couverture.pdf
!Photoshop/Poster TN10_low Res.pdf
